paplay2(){
    #http://www.commandlinefu.com/commands/matching/paplay/cGFwbGF5/sort-by-votes

    test $MODE_SOUND=true || return
    local file_mp3="$1"
commander "sox $file_mp3 -t wav - | paplay"
}

paplay1(){
    test $MODE_SOUND=true || return
local file_raw="$1"
assert file_exist "$file_raw"
        paplay <( cat $file_raw )
}
export -f paplay1

export -f paplay2

