
update_clipboard() { 
use print

    local desc="$1"
    shift 
    local args=(${@:-empty-clipboard});
    
    local cmd="${args[@]}";
#    proxy present print_color 33 "[CLIPBOARD] $cmd";
    print color 33 "[ClipBoard] $cmd"
  #  proxy notify-send1 'update_clipboard' "$cmd"
#print cowsay "$str"
print_g notify-send "$desc" "$cmd"

    local mode_debug=${MODE_DEBUG:-false};
    if [ $mode_debug = true ]; then
        local str=$( gxmessage 'update clipboard' -entrytext "$cmd"  );
        echo $str | xsel --clipboard;
    else
        echo $cmd | xsel --clipboard;
    fi;
    #proxy sleep 1
}
export -f update_clipboard

